body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  align-items: center;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header p {
  font-size: larger;
}

header img {
  width: 100px;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

nav li {
  color: black;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.waldo-img-wrapper {
  display: flex;
  justify-content: center;
}

.waldo-img-wrapper img {
  height: 768px;
  width: 1368px;
  padding-bottom: 2rem;
}